<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scut.mychart.mapper.AC01Mapper">
  <resultMap id="BaseResultMap" type="org.scut.mychart.model.AC01">
    <result column="oae001" jdbcType="BIGINT" property="oae001" />
    <result column="aac001" jdbcType="VARCHAR" property="aac001" />
    <result column="aab001" jdbcType="VARCHAR" property="aab001" />
    <result column="aac022" jdbcType="VARCHAR" property="aac022" />
    <result column="aac004" jdbcType="VARCHAR" property="aac004" />
    <result column="aac005" jdbcType="VARCHAR" property="aac005" />
    <result column="aac006" jdbcType="TIMESTAMP" property="aac006" />
    <result column="aac007" jdbcType="TIMESTAMP" property="aac007" />
    <result column="aac008" jdbcType="VARCHAR" property="aac008" />
    <result column="aac009" jdbcType="VARCHAR" property="aac009" />
    <result column="aac010" jdbcType="VARCHAR" property="aac010" />
    <result column="aac011" jdbcType="VARCHAR" property="aac011" />
    <result column="aac012" jdbcType="VARCHAR" property="aac012" />
    <result column="aac013" jdbcType="VARCHAR" property="aac013" />
    <result column="aac015" jdbcType="VARCHAR" property="aac015" />
    <result column="aac017" jdbcType="VARCHAR" property="aac017" />
    <result column="aac019" jdbcType="VARCHAR" property="aac019" />
    <result column="aac020" jdbcType="VARCHAR" property="aac020" />
    <result column="aac021" jdbcType="VARCHAR" property="aac021" />
    <result column="aac024" jdbcType="VARCHAR" property="aac024" />
    <result column="aac031" jdbcType="VARCHAR" property="aac031" />
    <result column="aae006" jdbcType="VARCHAR" property="aae006" />
    <result column="aae007" jdbcType="VARCHAR" property="aae007" />
    <result column="aae008" jdbcType="VARCHAR" property="aae008" />
    <result column="aab301" jdbcType="VARCHAR" property="aab301" />
    <result column="aic001" jdbcType="INTEGER" property="aic001" />
    <result column="ajc001" jdbcType="INTEGER" property="ajc001" />
    <result column="akc002" jdbcType="INTEGER" property="akc002" />
    <result column="akc021" jdbcType="VARCHAR" property="akc021" />
    <result column="akc030" jdbcType="VARCHAR" property="akc030" />
    <result column="aic162" jdbcType="TIMESTAMP" property="aic162" />
    <result column="bac002" jdbcType="VARCHAR" property="bac002" />
    <result column="bac016" jdbcType="VARCHAR" property="bac016" />
    <result column="bac022" jdbcType="VARCHAR" property="bac022" />
    <result column="bac023" jdbcType="VARCHAR" property="bac023" />
    <result column="bac024" jdbcType="VARCHAR" property="bac024" />
    <result column="bac025" jdbcType="VARCHAR" property="bac025" />
    <result column="bac111" jdbcType="TIMESTAMP" property="bac111" />
    <result column="bac118" jdbcType="VARCHAR" property="bac118" />
    <result column="bac119" jdbcType="VARCHAR" property="bac119" />
    <result column="bae001" jdbcType="INTEGER" property="bae001" />
    <result column="aae036" jdbcType="TIMESTAMP" property="aae036" />
    <result column="aae013" jdbcType="VARCHAR" property="aae013" />
    <result column="oae300" jdbcType="BIGINT" property="oae300" />
    <result column="oae301" jdbcType="BIGINT" property="oae301" />
    <result column="acc020" jdbcType="VARCHAR" property="acc020" />
    <result column="alc001" jdbcType="INTEGER" property="alc001" />
    <result column="amc001" jdbcType="INTEGER" property="amc001" />
    <result column="bac027" jdbcType="VARCHAR" property="bac027" />
    <result column="bac026" jdbcType="VARCHAR" property="bac026" />
    <result column="akc022" jdbcType="VARCHAR" property="akc022" />
    <result column="bac028" jdbcType="VARCHAR" property="bac028" />
    <result column="aac034" jdbcType="VARCHAR" property="aac034" />
    <result column="aac062" jdbcType="VARCHAR" property="aac062" />
    <result column="aac063" jdbcType="VARCHAR" property="aac063" />
    <result column="aac065" jdbcType="VARCHAR" property="aac065" />
    <result column="aac066" jdbcType="VARCHAR" property="aac066" />
    <result column="aab034" jdbcType="VARCHAR" property="aab034" />
    <result column="aac067" jdbcType="VARCHAR" property="aac067" />
    <result column="aac068" jdbcType="VARCHAR" property="aac068" />
    <result column="aac069" jdbcType="VARCHAR" property="aac069" />
    <result column="bac070" jdbcType="VARCHAR" property="bac070" />
    <result column="bkc071" jdbcType="VARCHAR" property="bkc071" />
    <result column="bkc072" jdbcType="VARCHAR" property="bkc072" />
    <result column="aac028" jdbcType="VARCHAR" property="aac028" />
    <result column="aac029" jdbcType="VARCHAR" property="aac029" />
    <result column="aac030" jdbcType="VARCHAR" property="aac030" />
    <result column="aac033" jdbcType="VARCHAR" property="aac033" />
    <result column="aac083" jdbcType="VARCHAR" property="aac083" />
    <result column="aac084" jdbcType="VARCHAR" property="aac084" />
    <result column="aac035" jdbcType="VARCHAR" property="aac035" />
    <result column="aac082" jdbcType="VARCHAR" property="aac082" />
    <result column="aac085" jdbcType="VARCHAR" property="aac085" />
    <result column="aac087" jdbcType="VARCHAR" property="aac087" />
    <result column="aac088" jdbcType="VARCHAR" property="aac088" />
    <result column="aac089" jdbcType="VARCHAR" property="aac089" />
    <result column="aac090" jdbcType="VARCHAR" property="aac090" />
    <result column="aac093" jdbcType="VARCHAR" property="aac093" />
    <result column="aac094" jdbcType="VARCHAR" property="aac094" />
    <result column="aac095" jdbcType="VARCHAR" property="aac095" />
    <result column="aac096" jdbcType="VARCHAR" property="aac096" />
    <result column="aac097" jdbcType="VARCHAR" property="aac097" />
    <result column="aac098" jdbcType="VARCHAR" property="aac098" />
    <result column="aac099" jdbcType="TIMESTAMP" property="aac099" />
    <result column="aac100" jdbcType="VARCHAR" property="aac100" />
    <result column="akc025" jdbcType="VARCHAR" property="akc025" />
    <result column="aab344" jdbcType="VARCHAR" property="aab344" />
    <result column="akc053" jdbcType="INTEGER" property="akc053" />
    <result column="bac029" jdbcType="VARCHAR" property="bac029" />
    <result column="aac101" jdbcType="VARCHAR" property="aac101" />
    <result column="aac102" jdbcType="INTEGER" property="aac102" />
    <result column="aac104" jdbcType="VARCHAR" property="aac104" />
    <result column="aac105" jdbcType="TIMESTAMP" property="aac105" />
    <result column="aac106" jdbcType="VARCHAR" property="aac106" />
    <result column="aac107" jdbcType="VARCHAR" property="aac107" />
    <result column="aac108" jdbcType="VARCHAR" property="aac108" />
    <result column="aac109" jdbcType="VARCHAR" property="aac109" />
    <result column="aac113" jdbcType="VARCHAR" property="aac113" />
    <result column="aac110" jdbcType="VARCHAR" property="aac110" />
    <result column="aac111" jdbcType="VARCHAR" property="aac111" />
    <result column="aac112" jdbcType="VARCHAR" property="aac112" />
    <result column="aac210" jdbcType="VARCHAR" property="aac210" />
    <result column="aac211" jdbcType="VARCHAR" property="aac211" />
    <result column="aac212" jdbcType="VARCHAR" property="aac212" />
    <result column="aac213" jdbcType="VARCHAR" property="aac213" />
    <result column="bac003" jdbcType="VARCHAR" property="bac003" />
  </resultMap>
  <sql id="Base_Column_List">
    oae001, aac001, aab001, aac022, aac004, aac005, aac006, aac007, aac008, aac009, aac010, aac011, 
    aac012, aac013, aac015, aac017, aac019, aac020, aac021, aac024, aac031, aae006, aae007, aae008, 
    aab301, aic001, ajc001, akc002, akc021, akc030, aic162, bac002, bac016, bac022, bac023, bac024, 
    bac025, bac111, bac118, bac119, bae001, aae036, aae013, oae300, oae301, acc020, alc001, amc001, 
    bac027, bac026, akc022, bac028, aac034, aac062, aac063, aac065, aac066, aab034, aac067, aac068, 
    aac069, bac070, bkc071, bkc072, aac028, aac029, aac030, aac033, aac083, aac084, aac035, aac082, 
	aac085, aac087, aac088, aac089, aac090, aac093, aac094, aac095, aac096, aac097, aac098, aac099, 
    aac100, akc025, aab344, akc053, bac029, aac101, aac102, aac104, aac105, aac106, aac107, aac108, 
    aac109, aac113, aac110, aac111, aac112, aac210, aac211, aac212, aac213, bac003
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ac01
    where aac001 = #{aac001,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="org.scut.mychart.model.AC01">
    insert into ac01 (oae001, aac001, aab001, 
      aac022, aac004, aac005, 
      aac006, aac007, aac008, 
      aac009, aac010, aac011, 
      aac012, aac013, aac015, 
      aac017, aac019, aac020, 
      aac021, aac024, aac031, 
      aae006, aae007, aae008, 
      aab301, aic001, ajc001, 
      akc002, akc021, akc030, 
      aic162, bac002, bac016, 
      bac022, bac023, bac024, 
      bac025, bac111, bac118, 
      bac119, bae001, aae036, 
      aae013, oae300, oae301, 
      acc020, alc001, amc001, 
      bac027, bac026, akc022, 
      bac028, aac034, aac062, 
      aac063, aac065, aac066, 
      aab034, aac067, aac068, 
      aac069, bac070, bkc071, 
      bkc072, aac028, aac029, 
      aac030, aac033, aac083, 
      aac084, aac035, aac082, 
      aac085, aac087, aac088, 
      aac089, aac090, aac093, 
      aac094, aac095, aac096, 
      aac097, aac098, aac099, 
      aac100, akc025, aab344, 
      akc053, bac029, aac101, 
      aac102, aac104, aac105, 
      aac106, aac107, aac108, 
      aac109, aac113, aac110, 
      aac111, aac112, aac210, 
      aac211, aac212, aac213, 
      bac003)
    values (#{oae001,jdbcType=BIGINT}, #{aac001,jdbcType=VARCHAR}, #{aab001,jdbcType=VARCHAR}, 
      #{aac022,jdbcType=VARCHAR}, #{aac004,jdbcType=VARCHAR}, #{aac005,jdbcType=VARCHAR}, 
      #{aac006,jdbcType=TIMESTAMP}, #{aac007,jdbcType=TIMESTAMP}, #{aac008,jdbcType=VARCHAR}, 
      #{aac009,jdbcType=VARCHAR}, #{aac010,jdbcType=VARCHAR}, #{aac011,jdbcType=VARCHAR}, 
      #{aac012,jdbcType=VARCHAR}, #{aac013,jdbcType=VARCHAR}, #{aac015,jdbcType=VARCHAR}, 
      #{aac017,jdbcType=VARCHAR}, #{aac019,jdbcType=VARCHAR}, #{aac020,jdbcType=VARCHAR}, 
      #{aac021,jdbcType=VARCHAR}, #{aac024,jdbcType=VARCHAR}, #{aac031,jdbcType=VARCHAR}, 
      #{aae006,jdbcType=VARCHAR}, #{aae007,jdbcType=VARCHAR}, #{aae008,jdbcType=VARCHAR}, 
      #{aab301,jdbcType=VARCHAR}, #{aic001,jdbcType=INTEGER}, #{ajc001,jdbcType=INTEGER}, 
      #{akc002,jdbcType=INTEGER}, #{akc021,jdbcType=VARCHAR}, #{akc030,jdbcType=VARCHAR}, 
      #{aic162,jdbcType=TIMESTAMP}, #{bac002,jdbcType=VARCHAR}, #{bac016,jdbcType=VARCHAR}, 
      #{bac022,jdbcType=VARCHAR}, #{bac023,jdbcType=VARCHAR}, #{bac024,jdbcType=VARCHAR}, 
      #{bac025,jdbcType=VARCHAR}, #{bac111,jdbcType=TIMESTAMP}, #{bac118,jdbcType=VARCHAR}, 
      #{bac119,jdbcType=VARCHAR}, #{bae001,jdbcType=INTEGER}, #{aae036,jdbcType=TIMESTAMP}, 
      #{aae013,jdbcType=VARCHAR}, #{oae300,jdbcType=BIGINT}, #{oae301,jdbcType=BIGINT}, 
      #{acc020,jdbcType=VARCHAR}, #{alc001,jdbcType=INTEGER}, #{amc001,jdbcType=INTEGER}, 
      #{bac027,jdbcType=VARCHAR}, #{bac026,jdbcType=VARCHAR}, #{akc022,jdbcType=VARCHAR}, 
      #{bac028,jdbcType=VARCHAR}, #{aac034,jdbcType=VARCHAR}, #{aac062,jdbcType=VARCHAR}, 
      #{aac063,jdbcType=VARCHAR}, #{aac065,jdbcType=VARCHAR}, #{aac066,jdbcType=VARCHAR}, 
      #{aab034,jdbcType=VARCHAR}, #{aac067,jdbcType=VARCHAR}, #{aac068,jdbcType=VARCHAR}, 
      #{aac069,jdbcType=VARCHAR}, #{bac070,jdbcType=VARCHAR}, #{bkc071,jdbcType=VARCHAR}, 
      #{bkc072,jdbcType=VARCHAR}, #{aac028,jdbcType=VARCHAR}, #{aac029,jdbcType=VARCHAR}, 
      #{aac030,jdbcType=VARCHAR}, #{aac033,jdbcType=VARCHAR}, #{aac083,jdbcType=VARCHAR}, 
      #{aac084,jdbcType=VARCHAR}, #{aac035,jdbcType=VARCHAR}, #{aac082,jdbcType=VARCHAR}, 
      #{aac085,jdbcType=VARCHAR}, #{aac087,jdbcType=VARCHAR}, #{aac088,jdbcType=VARCHAR}, 
      #{aac089,jdbcType=VARCHAR}, #{aac090,jdbcType=VARCHAR}, #{aac093,jdbcType=VARCHAR}, 
      #{aac094,jdbcType=VARCHAR}, #{aac095,jdbcType=VARCHAR}, #{aac096,jdbcType=VARCHAR}, 
      #{aac097,jdbcType=VARCHAR}, #{aac098,jdbcType=VARCHAR}, #{aac099,jdbcType=TIMESTAMP}, 
      #{aac100,jdbcType=VARCHAR}, #{akc025,jdbcType=VARCHAR}, #{aab344,jdbcType=VARCHAR}, 
      #{akc053,jdbcType=INTEGER}, #{bac029,jdbcType=VARCHAR}, #{aac101,jdbcType=VARCHAR}, 
      #{aac102,jdbcType=INTEGER}, #{aac104,jdbcType=VARCHAR}, #{aac105,jdbcType=TIMESTAMP}, 
      #{aac106,jdbcType=VARCHAR}, #{aac107,jdbcType=VARCHAR}, #{aac108,jdbcType=VARCHAR}, 
      #{aac109,jdbcType=VARCHAR}, #{aac113,jdbcType=VARCHAR}, #{aac110,jdbcType=VARCHAR}, 
      #{aac111,jdbcType=VARCHAR}, #{aac112,jdbcType=VARCHAR}, #{aac210,jdbcType=VARCHAR}, 
      #{aac211,jdbcType=VARCHAR}, #{aac212,jdbcType=VARCHAR}, #{aac213,jdbcType=VARCHAR}, 
      #{bac003,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.scut.mychart.model.AC01">
    insert into ac01
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oae001 != null">
        oae001,
      </if>
      <if test="aac001 != null">
        aac001,
      </if>
      <if test="aab001 != null">
        aab001,
      </if>
      <if test="aac022 != null">
        aac022,
      </if>
      <if test="aac004 != null">
        aac004,
      </if>
      <if test="aac005 != null">
        aac005,
      </if>
      <if test="aac006 != null">
        aac006,
      </if>
      <if test="aac007 != null">
        aac007,
      </if>
      <if test="aac008 != null">
        aac008,
      </if>
      <if test="aac009 != null">
        aac009,
      </if>
      <if test="aac010 != null">
        aac010,
      </if>
      <if test="aac011 != null">
        aac011,
      </if>
      <if test="aac012 != null">
        aac012,
      </if>
      <if test="aac013 != null">
        aac013,
      </if>
      <if test="aac015 != null">
        aac015,
      </if>
      <if test="aac017 != null">
        aac017,
      </if>
      <if test="aac019 != null">
        aac019,
      </if>
      <if test="aac020 != null">
        aac020,
      </if>
      <if test="aac021 != null">
        aac021,
      </if>
      <if test="aac024 != null">
        aac024,
      </if>
      <if test="aac031 != null">
        aac031,
      </if>
      <if test="aae006 != null">
        aae006,
      </if>
      <if test="aae007 != null">
        aae007,
      </if>
      <if test="aae008 != null">
        aae008,
      </if>
      <if test="aab301 != null">
        aab301,
      </if>
      <if test="aic001 != null">
        aic001,
      </if>
      <if test="ajc001 != null">
        ajc001,
      </if>
      <if test="akc002 != null">
        akc002,
      </if>
      <if test="akc021 != null">
        akc021,
      </if>
      <if test="akc030 != null">
        akc030,
      </if>
      <if test="aic162 != null">
        aic162,
      </if>
      <if test="bac002 != null">
        bac002,
      </if>
      <if test="bac016 != null">
        bac016,
      </if>
      <if test="bac022 != null">
        bac022,
      </if>
      <if test="bac023 != null">
        bac023,
      </if>
      <if test="bac024 != null">
        bac024,
      </if>
      <if test="bac025 != null">
        bac025,
      </if>
      <if test="bac111 != null">
        bac111,
      </if>
      <if test="bac118 != null">
        bac118,
      </if>
      <if test="bac119 != null">
        bac119,
      </if>
      <if test="bae001 != null">
        bae001,
      </if>
      <if test="aae036 != null">
        aae036,
      </if>
      <if test="aae013 != null">
        aae013,
      </if>
      <if test="oae300 != null">
        oae300,
      </if>
      <if test="oae301 != null">
        oae301,
      </if>
      <if test="acc020 != null">
        acc020,
      </if>
      <if test="alc001 != null">
        alc001,
      </if>
      <if test="amc001 != null">
        amc001,
      </if>
      <if test="bac027 != null">
        bac027,
      </if>
      <if test="bac026 != null">
        bac026,
      </if>
      <if test="akc022 != null">
        akc022,
      </if>
      <if test="bac028 != null">
        bac028,
      </if>
      <if test="aac034 != null">
        aac034,
      </if>
      <if test="aac062 != null">
        aac062,
      </if>
      <if test="aac063 != null">
        aac063,
      </if>
      <if test="aac065 != null">
        aac065,
      </if>
      <if test="aac066 != null">
        aac066,
      </if>
      <if test="aab034 != null">
        aab034,
      </if>
      <if test="aac067 != null">
        aac067,
      </if>
      <if test="aac068 != null">
        aac068,
      </if>
      <if test="aac069 != null">
        aac069,
      </if>
      <if test="bac070 != null">
        bac070,
      </if>
      <if test="bkc071 != null">
        bkc071,
      </if>
      <if test="bkc072 != null">
        bkc072,
      </if>
      <if test="aac028 != null">
        aac028,
      </if>
      <if test="aac029 != null">
        aac029,
      </if>
      <if test="aac030 != null">
        aac030,
      </if>
      <if test="aac033 != null">
        aac033,
      </if>
      <if test="aac083 != null">
        aac083,
      </if>
      <if test="aac084 != null">
        aac084,
      </if>
      <if test="aac035 != null">
        aac035,
      </if>
      <if test="aac082 != null">
        aac082,
      </if>
      <if test="aac085 != null">
        aac085,
      </if>
      <if test="aac087 != null">
        aac087,
      </if>
      <if test="aac088 != null">
        aac088,
      </if>
      <if test="aac089 != null">
        aac089,
      </if>
      <if test="aac090 != null">
        aac090,
      </if>
      <if test="aac093 != null">
        aac093,
      </if>
      <if test="aac094 != null">
        aac094,
      </if>
      <if test="aac095 != null">
        aac095,
      </if>
      <if test="aac096 != null">
        aac096,
      </if>
      <if test="aac097 != null">
        aac097,
      </if>
      <if test="aac098 != null">
        aac098,
      </if>
      <if test="aac099 != null">
        aac099,
      </if>
      <if test="aac100 != null">
        aac100,
      </if>
      <if test="akc025 != null">
        akc025,
      </if>
      <if test="aab344 != null">
        aab344,
      </if>
      <if test="akc053 != null">
        akc053,
      </if>
      <if test="bac029 != null">
        bac029,
      </if>
      <if test="aac101 != null">
        aac101,
      </if>
      <if test="aac102 != null">
        aac102,
      </if>
      <if test="aac104 != null">
        aac104,
      </if>
      <if test="aac105 != null">
        aac105,
      </if>
      <if test="aac106 != null">
        aac106,
      </if>
      <if test="aac107 != null">
        aac107,
      </if>
      <if test="aac108 != null">
        aac108,
      </if>
      <if test="aac109 != null">
        aac109,
      </if>
      <if test="aac113 != null">
        aac113,
      </if>
      <if test="aac110 != null">
        aac110,
      </if>
      <if test="aac111 != null">
        aac111,
      </if>
      <if test="aac112 != null">
        aac112,
      </if>
      <if test="aac210 != null">
        aac210,
      </if>
      <if test="aac211 != null">
        aac211,
      </if>
      <if test="aac212 != null">
        aac212,
      </if>
      <if test="aac213 != null">
        aac213,
      </if>
      <if test="bac003 != null">
        bac003,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oae001 != null">
        #{oae001,jdbcType=BIGINT},
      </if>
      <if test="aac001 != null">
        #{aac001,jdbcType=VARCHAR},
      </if>
      <if test="aab001 != null">
        #{aab001,jdbcType=VARCHAR},
      </if>
      <if test="aac022 != null">
        #{aac022,jdbcType=VARCHAR},
      </if>
      <if test="aac004 != null">
        #{aac004,jdbcType=VARCHAR},
      </if>
      <if test="aac005 != null">
        #{aac005,jdbcType=VARCHAR},
      </if>
      <if test="aac006 != null">
        #{aac006,jdbcType=TIMESTAMP},
      </if>
      <if test="aac007 != null">
        #{aac007,jdbcType=TIMESTAMP},
      </if>
      <if test="aac008 != null">
        #{aac008,jdbcType=VARCHAR},
      </if>
      <if test="aac009 != null">
        #{aac009,jdbcType=VARCHAR},
      </if>
      <if test="aac010 != null">
        #{aac010,jdbcType=VARCHAR},
      </if>
      <if test="aac011 != null">
        #{aac011,jdbcType=VARCHAR},
      </if>
      <if test="aac012 != null">
        #{aac012,jdbcType=VARCHAR},
      </if>
      <if test="aac013 != null">
        #{aac013,jdbcType=VARCHAR},
      </if>
      <if test="aac015 != null">
        #{aac015,jdbcType=VARCHAR},
      </if>
      <if test="aac017 != null">
        #{aac017,jdbcType=VARCHAR},
      </if>
      <if test="aac019 != null">
        #{aac019,jdbcType=VARCHAR},
      </if>
      <if test="aac020 != null">
        #{aac020,jdbcType=VARCHAR},
      </if>
      <if test="aac021 != null">
        #{aac021,jdbcType=VARCHAR},
      </if>
      <if test="aac024 != null">
        #{aac024,jdbcType=VARCHAR},
      </if>
      <if test="aac031 != null">
        #{aac031,jdbcType=VARCHAR},
      </if>
      <if test="aae006 != null">
        #{aae006,jdbcType=VARCHAR},
      </if>
      <if test="aae007 != null">
        #{aae007,jdbcType=VARCHAR},
      </if>
      <if test="aae008 != null">
        #{aae008,jdbcType=VARCHAR},
      </if>
      <if test="aab301 != null">
        #{aab301,jdbcType=VARCHAR},
      </if>
      <if test="aic001 != null">
        #{aic001,jdbcType=INTEGER},
      </if>
      <if test="ajc001 != null">
        #{ajc001,jdbcType=INTEGER},
      </if>
      <if test="akc002 != null">
        #{akc002,jdbcType=INTEGER},
      </if>
      <if test="akc021 != null">
        #{akc021,jdbcType=VARCHAR},
      </if>
      <if test="akc030 != null">
        #{akc030,jdbcType=VARCHAR},
      </if>
      <if test="aic162 != null">
        #{aic162,jdbcType=TIMESTAMP},
      </if>
      <if test="bac002 != null">
        #{bac002,jdbcType=VARCHAR},
      </if>
      <if test="bac016 != null">
        #{bac016,jdbcType=VARCHAR},
      </if>
      <if test="bac022 != null">
        #{bac022,jdbcType=VARCHAR},
      </if>
      <if test="bac023 != null">
        #{bac023,jdbcType=VARCHAR},
      </if>
      <if test="bac024 != null">
        #{bac024,jdbcType=VARCHAR},
      </if>
      <if test="bac025 != null">
        #{bac025,jdbcType=VARCHAR},
      </if>
      <if test="bac111 != null">
        #{bac111,jdbcType=TIMESTAMP},
      </if>
      <if test="bac118 != null">
        #{bac118,jdbcType=VARCHAR},
      </if>
      <if test="bac119 != null">
        #{bac119,jdbcType=VARCHAR},
      </if>
      <if test="bae001 != null">
        #{bae001,jdbcType=INTEGER},
      </if>
      <if test="aae036 != null">
        #{aae036,jdbcType=TIMESTAMP},
      </if>
      <if test="aae013 != null">
        #{aae013,jdbcType=VARCHAR},
      </if>
      <if test="oae300 != null">
        #{oae300,jdbcType=BIGINT},
      </if>
      <if test="oae301 != null">
        #{oae301,jdbcType=BIGINT},
      </if>
      <if test="acc020 != null">
        #{acc020,jdbcType=VARCHAR},
      </if>
      <if test="alc001 != null">
        #{alc001,jdbcType=INTEGER},
      </if>
      <if test="amc001 != null">
        #{amc001,jdbcType=INTEGER},
      </if>
      <if test="bac027 != null">
        #{bac027,jdbcType=VARCHAR},
      </if>
      <if test="bac026 != null">
        #{bac026,jdbcType=VARCHAR},
      </if>
      <if test="akc022 != null">
        #{akc022,jdbcType=VARCHAR},
      </if>
      <if test="bac028 != null">
        #{bac028,jdbcType=VARCHAR},
      </if>
      <if test="aac034 != null">
        #{aac034,jdbcType=VARCHAR},
      </if>
      <if test="aac062 != null">
        #{aac062,jdbcType=VARCHAR},
      </if>
      <if test="aac063 != null">
        #{aac063,jdbcType=VARCHAR},
      </if>
      <if test="aac065 != null">
        #{aac065,jdbcType=VARCHAR},
      </if>
      <if test="aac066 != null">
        #{aac066,jdbcType=VARCHAR},
      </if>
      <if test="aab034 != null">
        #{aab034,jdbcType=VARCHAR},
      </if>
      <if test="aac067 != null">
        #{aac067,jdbcType=VARCHAR},
      </if>
      <if test="aac068 != null">
        #{aac068,jdbcType=VARCHAR},
      </if>
      <if test="aac069 != null">
        #{aac069,jdbcType=VARCHAR},
      </if>
      <if test="bac070 != null">
        #{bac070,jdbcType=VARCHAR},
      </if>
      <if test="bkc071 != null">
        #{bkc071,jdbcType=VARCHAR},
      </if>
      <if test="bkc072 != null">
        #{bkc072,jdbcType=VARCHAR},
      </if>
      <if test="aac028 != null">
        #{aac028,jdbcType=VARCHAR},
      </if>
      <if test="aac029 != null">
        #{aac029,jdbcType=VARCHAR},
      </if>
      <if test="aac030 != null">
        #{aac030,jdbcType=VARCHAR},
      </if>
      <if test="aac033 != null">
        #{aac033,jdbcType=VARCHAR},
      </if>
      <if test="aac083 != null">
        #{aac083,jdbcType=VARCHAR},
      </if>
      <if test="aac084 != null">
        #{aac084,jdbcType=VARCHAR},
      </if>
      <if test="aac035 != null">
        #{aac035,jdbcType=VARCHAR},
      </if>
      <if test="aac082 != null">
        #{aac082,jdbcType=VARCHAR},
      </if>
      <if test="aac085 != null">
        #{aac085,jdbcType=VARCHAR},
      </if>
      <if test="aac087 != null">
        #{aac087,jdbcType=VARCHAR},
      </if>
      <if test="aac088 != null">
        #{aac088,jdbcType=VARCHAR},
      </if>
      <if test="aac089 != null">
        #{aac089,jdbcType=VARCHAR},
      </if>
      <if test="aac090 != null">
        #{aac090,jdbcType=VARCHAR},
      </if>
      <if test="aac093 != null">
        #{aac093,jdbcType=VARCHAR},
      </if>
      <if test="aac094 != null">
        #{aac094,jdbcType=VARCHAR},
      </if>
      <if test="aac095 != null">
        #{aac095,jdbcType=VARCHAR},
      </if>
      <if test="aac096 != null">
        #{aac096,jdbcType=VARCHAR},
      </if>
      <if test="aac097 != null">
        #{aac097,jdbcType=VARCHAR},
      </if>
      <if test="aac098 != null">
        #{aac098,jdbcType=VARCHAR},
      </if>
      <if test="aac099 != null">
        #{aac099,jdbcType=TIMESTAMP},
      </if>
      <if test="aac100 != null">
        #{aac100,jdbcType=VARCHAR},
      </if>
      <if test="akc025 != null">
        #{akc025,jdbcType=VARCHAR},
      </if>
      <if test="aab344 != null">
        #{aab344,jdbcType=VARCHAR},
      </if>
      <if test="akc053 != null">
        #{akc053,jdbcType=INTEGER},
      </if>
      <if test="bac029 != null">
        #{bac029,jdbcType=VARCHAR},
      </if>
      <if test="aac101 != null">
        #{aac101,jdbcType=VARCHAR},
      </if>
      <if test="aac102 != null">
        #{aac102,jdbcType=INTEGER},
      </if>
      <if test="aac104 != null">
        #{aac104,jdbcType=VARCHAR},
      </if>
      <if test="aac105 != null">
        #{aac105,jdbcType=TIMESTAMP},
      </if>
      <if test="aac106 != null">
        #{aac106,jdbcType=VARCHAR},
      </if>
      <if test="aac107 != null">
        #{aac107,jdbcType=VARCHAR},
      </if>
      <if test="aac108 != null">
        #{aac108,jdbcType=VARCHAR},
      </if>
      <if test="aac109 != null">
        #{aac109,jdbcType=VARCHAR},
      </if>
      <if test="aac113 != null">
        #{aac113,jdbcType=VARCHAR},
      </if>
      <if test="aac110 != null">
        #{aac110,jdbcType=VARCHAR},
      </if>
      <if test="aac111 != null">
        #{aac111,jdbcType=VARCHAR},
      </if>
      <if test="aac112 != null">
        #{aac112,jdbcType=VARCHAR},
      </if>
      <if test="aac210 != null">
        #{aac210,jdbcType=VARCHAR},
      </if>
      <if test="aac211 != null">
        #{aac211,jdbcType=VARCHAR},
      </if>
      <if test="aac212 != null">
        #{aac212,jdbcType=VARCHAR},
      </if>
      <if test="aac213 != null">
        #{aac213,jdbcType=VARCHAR},
      </if>
      <if test="bac003 != null">
        #{bac003,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>