<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scut.mychart.mapper.Charts09Mapper">
	<!-- 开启二级缓存 -->
	<cache size="1024" readOnly="true" />
	<select id="selectChart09Payment" parameterType="java.util.Map" resultType="org.scut.mychart.model.Chart09" statementType="STATEMENT">
		select count(distinct ac01.aac001) as "person_num" ,
		ac01.${type} as ${title}
		from ac01
		group by ${type};
	</select>
	<select id="selectChart09Age" parameterType="java.util.Map" resultType="org.scut.mychart.model.Chart09" statementType="STATEMENT">
		select case when (aac006&lt;"1955-01-01") then "60"
		when (aac006>"1955-01-01" and aac006&lt;"1965-01-01") then "50"
		when (aac006>"1965-01-01" and aac006&lt;"1975-01-01") then "40"
		when (aac006>"1975-01-01" and aac006&lt;"1985-01-01") then "30"
		when (aac006>"1985-01-01" and aac006&lt;"1995-01-01") then "20"
		else "-20" end as "age",count(*) as "person_num"
		from ac01
		group by case when (aac006&lt;"1955-01-01") then "60"
		when (aac006>"1955-01-01" and aac006&lt;"1965-01-01") then "50"
		when (aac006>"1965-01-01" and aac006&lt;"1975-01-01") then "40"
		when (aac006>"1975-01-01" and aac006&lt;"1985-01-01") then "30"
		when (aac006>"1985-01-01" and aac006&lt;"1995-01-01") then "20"
		else "-20" end
	</select>
  	
</mapper>