<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scut.mychart.mapper.Chart01Mapper">
  	<select id="selectPayment" parameterType="java.util.Map" resultType="org.scut.mychart.model.Chart01" statementType="STATEMENT">
    	select sum(${payment}) as "total_payment",
    	count(${table}.aac001) as "person_num",
    	aac004 as "sex",the_month as "month" 
    	from ${table} join time on the_date= aae036 
    	join ac01 on ac01.aac001=${table}.aac001
    	group by aac004,the_month
  	</select>
</mapper>