<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scut.mychart.mapper.IC15Mapper">
  <resultMap id="BaseResultMap" type="org.scut.mychart.model.IC15">
    <result column="aac001" jdbcType="VARCHAR" property="aac001" />
    <result column="aae002" jdbcType="VARCHAR" property="aae002" />
    <result column="aab001" jdbcType="VARCHAR" property="aab001" />
    <result column="aae080" jdbcType="VARCHAR" property="aae080" />
    <result column="aae253" jdbcType="VARCHAR" property="aae253" />
    <result column="aae145" jdbcType="VARCHAR" property="aae145" />
    <result column="aae016" jdbcType="VARCHAR" property="aae016" />
    <result column="aae010" jdbcType="VARCHAR" property="aae010" />
    <result column="aae074" jdbcType="BIGINT" property="aae074" />
    <result column="aab019" jdbcType="VARCHAR" property="aab019" />
    <result column="aab020" jdbcType="VARCHAR" property="aab020" />
    <result column="aab021" jdbcType="VARCHAR" property="aab021" />
    <result column="aab022" jdbcType="VARCHAR" property="aab022" />
    <result column="aic121" jdbcType="DECIMAL" property="aic121" />
    <result column="aic122" jdbcType="DECIMAL" property="aic122" />
    <result column="aic123" jdbcType="DECIMAL" property="aic123" />
    <result column="aic124" jdbcType="DECIMAL" property="aic124" />
    <result column="aic125" jdbcType="DECIMAL" property="aic125" />
    <result column="aic126" jdbcType="DECIMAL" property="aic126" />
    <result column="aic127" jdbcType="DECIMAL" property="aic127" />
    <result column="aic128" jdbcType="DECIMAL" property="aic128" />
    <result column="aic129" jdbcType="DECIMAL" property="aic129" />
    <result column="aic130" jdbcType="DECIMAL" property="aic130" />
    <result column="aic131" jdbcType="DECIMAL" property="aic131" />
    <result column="aic132" jdbcType="DECIMAL" property="aic132" />
    <result column="aic133" jdbcType="DECIMAL" property="aic133" />
    <result column="aic134" jdbcType="DECIMAL" property="aic134" />
    <result column="aic135" jdbcType="DECIMAL" property="aic135" />
    <result column="aic136" jdbcType="DECIMAL" property="aic136" />
    <result column="aic137" jdbcType="DECIMAL" property="aic137" />
    <result column="aic138" jdbcType="DECIMAL" property="aic138" />
    <result column="aic139" jdbcType="DECIMAL" property="aic139" />
    <result column="aib141" jdbcType="DECIMAL" property="aib141" />
    <result column="aib142" jdbcType="DECIMAL" property="aib142" />
    <result column="aic411" jdbcType="DECIMAL" property="aic411" />
    <result column="aic263" jdbcType="DECIMAL" property="aic263" />
    <result column="aae117" jdbcType="VARCHAR" property="aae117" />
    <result column="aae076" jdbcType="BIGINT" property="aae076" />
    <result column="aac026" jdbcType="VARCHAR" property="aac026" />
    <result column="aae007" jdbcType="VARCHAR" property="aae007" />
    <result column="aae036" jdbcType="TIMESTAMP" property="aae036" />
    <result column="aab003" jdbcType="VARCHAR" property="aab003" />
    <result column="aab004" jdbcType="VARCHAR" property="aab004" />
    <result column="aae006" jdbcType="VARCHAR" property="aae006" />
    <result column="oae001" jdbcType="BIGINT" property="oae001" />
    <result column="oae300" jdbcType="BIGINT" property="oae300" />
    <result column="oae301" jdbcType="BIGINT" property="oae301" />
    <result column="aic140" jdbcType="DECIMAL" property="aic140" />
    <result column="aic144" jdbcType="DECIMAL" property="aic144" />
    <result column="bic025" jdbcType="VARCHAR" property="bic025" />
    <result column="aae264" jdbcType="VARCHAR" property="aae264" />
    <result column="aic141" jdbcType="VARCHAR" property="aic141" />
    <result column="aic160" jdbcType="DECIMAL" property="aic160" />
    <result column="aic161" jdbcType="VARCHAR" property="aic161" />
    <result column="aae088" jdbcType="VARCHAR" property="aae088" />
    <result column="aic147" jdbcType="DECIMAL" property="aic147" />
    <result column="aic148" jdbcType="DECIMAL" property="aic148" />
    <result column="aic149" jdbcType="DECIMAL" property="aic149" />
  </resultMap>
  <insert id="insert" parameterType="org.scut.mychart.model.IC15">
    insert into ic15 (aac001, aae002, aab001, 
      aae080, aae253, aae145, 
      aae016, aae010, aae074, 
      aab019, aab020, aab021, 
      aab022, aic121, aic122, 
      aic123, aic124, aic125, 
      aic126, aic127, aic128, 
      aic129, aic130, aic131, 
      aic132, aic133, aic134, 
      aic135, aic136, aic137, 
      aic138, aic139, aib141, 
      aib142, aic411, aic263, 
      aae117, aae076, aac026, 
      aae007, aae036, aab003, 
      aab004, aae006, oae001, 
      oae300, oae301, aic140, 
      aic144, bic025, aae264, 
      aic141, aic160, aic161, 
      aae088, aic147, aic148, 
      aic149)
    values (#{aac001,jdbcType=VARCHAR}, #{aae002,jdbcType=VARCHAR}, #{aab001,jdbcType=VARCHAR}, 
      #{aae080,jdbcType=VARCHAR}, #{aae253,jdbcType=VARCHAR}, #{aae145,jdbcType=VARCHAR}, 
      #{aae016,jdbcType=VARCHAR}, #{aae010,jdbcType=VARCHAR}, #{aae074,jdbcType=BIGINT}, 
      #{aab019,jdbcType=VARCHAR}, #{aab020,jdbcType=VARCHAR}, #{aab021,jdbcType=VARCHAR}, 
      #{aab022,jdbcType=VARCHAR}, #{aic121,jdbcType=DECIMAL}, #{aic122,jdbcType=DECIMAL}, 
      #{aic123,jdbcType=DECIMAL}, #{aic124,jdbcType=DECIMAL}, #{aic125,jdbcType=DECIMAL}, 
      #{aic126,jdbcType=DECIMAL}, #{aic127,jdbcType=DECIMAL}, #{aic128,jdbcType=DECIMAL}, 
      #{aic129,jdbcType=DECIMAL}, #{aic130,jdbcType=DECIMAL}, #{aic131,jdbcType=DECIMAL}, 
      #{aic132,jdbcType=DECIMAL}, #{aic133,jdbcType=DECIMAL}, #{aic134,jdbcType=DECIMAL}, 
      #{aic135,jdbcType=DECIMAL}, #{aic136,jdbcType=DECIMAL}, #{aic137,jdbcType=DECIMAL}, 
      #{aic138,jdbcType=DECIMAL}, #{aic139,jdbcType=DECIMAL}, #{aib141,jdbcType=DECIMAL}, 
      #{aib142,jdbcType=DECIMAL}, #{aic411,jdbcType=DECIMAL}, #{aic263,jdbcType=DECIMAL}, 
      #{aae117,jdbcType=VARCHAR}, #{aae076,jdbcType=BIGINT}, #{aac026,jdbcType=VARCHAR}, 
      #{aae007,jdbcType=VARCHAR}, #{aae036,jdbcType=TIMESTAMP}, #{aab003,jdbcType=VARCHAR}, 
      #{aab004,jdbcType=VARCHAR}, #{aae006,jdbcType=VARCHAR}, #{oae001,jdbcType=BIGINT}, 
      #{oae300,jdbcType=BIGINT}, #{oae301,jdbcType=BIGINT}, #{aic140,jdbcType=DECIMAL}, 
      #{aic144,jdbcType=DECIMAL}, #{bic025,jdbcType=VARCHAR}, #{aae264,jdbcType=VARCHAR}, 
      #{aic141,jdbcType=VARCHAR}, #{aic160,jdbcType=DECIMAL}, #{aic161,jdbcType=VARCHAR}, 
      #{aae088,jdbcType=VARCHAR}, #{aic147,jdbcType=DECIMAL}, #{aic148,jdbcType=DECIMAL}, 
      #{aic149,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.scut.mychart.model.IC15">
    insert into ic15
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aac001 != null">
        aac001,
      </if>
      <if test="aae002 != null">
        aae002,
      </if>
      <if test="aab001 != null">
        aab001,
      </if>
      <if test="aae080 != null">
        aae080,
      </if>
      <if test="aae253 != null">
        aae253,
      </if>
      <if test="aae145 != null">
        aae145,
      </if>
      <if test="aae016 != null">
        aae016,
      </if>
      <if test="aae010 != null">
        aae010,
      </if>
      <if test="aae074 != null">
        aae074,
      </if>
      <if test="aab019 != null">
        aab019,
      </if>
      <if test="aab020 != null">
        aab020,
      </if>
      <if test="aab021 != null">
        aab021,
      </if>
      <if test="aab022 != null">
        aab022,
      </if>
      <if test="aic121 != null">
        aic121,
      </if>
      <if test="aic122 != null">
        aic122,
      </if>
      <if test="aic123 != null">
        aic123,
      </if>
      <if test="aic124 != null">
        aic124,
      </if>
      <if test="aic125 != null">
        aic125,
      </if>
      <if test="aic126 != null">
        aic126,
      </if>
      <if test="aic127 != null">
        aic127,
      </if>
      <if test="aic128 != null">
        aic128,
      </if>
      <if test="aic129 != null">
        aic129,
      </if>
      <if test="aic130 != null">
        aic130,
      </if>
      <if test="aic131 != null">
        aic131,
      </if>
      <if test="aic132 != null">
        aic132,
      </if>
      <if test="aic133 != null">
        aic133,
      </if>
      <if test="aic134 != null">
        aic134,
      </if>
      <if test="aic135 != null">
        aic135,
      </if>
      <if test="aic136 != null">
        aic136,
      </if>
      <if test="aic137 != null">
        aic137,
      </if>
      <if test="aic138 != null">
        aic138,
      </if>
      <if test="aic139 != null">
        aic139,
      </if>
      <if test="aib141 != null">
        aib141,
      </if>
      <if test="aib142 != null">
        aib142,
      </if>
      <if test="aic411 != null">
        aic411,
      </if>
      <if test="aic263 != null">
        aic263,
      </if>
      <if test="aae117 != null">
        aae117,
      </if>
      <if test="aae076 != null">
        aae076,
      </if>
      <if test="aac026 != null">
        aac026,
      </if>
      <if test="aae007 != null">
        aae007,
      </if>
      <if test="aae036 != null">
        aae036,
      </if>
      <if test="aab003 != null">
        aab003,
      </if>
      <if test="aab004 != null">
        aab004,
      </if>
      <if test="aae006 != null">
        aae006,
      </if>
      <if test="oae001 != null">
        oae001,
      </if>
      <if test="oae300 != null">
        oae300,
      </if>
      <if test="oae301 != null">
        oae301,
      </if>
      <if test="aic140 != null">
        aic140,
      </if>
      <if test="aic144 != null">
        aic144,
      </if>
      <if test="bic025 != null">
        bic025,
      </if>
      <if test="aae264 != null">
        aae264,
      </if>
      <if test="aic141 != null">
        aic141,
      </if>
      <if test="aic160 != null">
        aic160,
      </if>
      <if test="aic161 != null">
        aic161,
      </if>
      <if test="aae088 != null">
        aae088,
      </if>
      <if test="aic147 != null">
        aic147,
      </if>
      <if test="aic148 != null">
        aic148,
      </if>
      <if test="aic149 != null">
        aic149,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aac001 != null">
        #{aac001,jdbcType=VARCHAR},
      </if>
      <if test="aae002 != null">
        #{aae002,jdbcType=VARCHAR},
      </if>
      <if test="aab001 != null">
        #{aab001,jdbcType=VARCHAR},
      </if>
      <if test="aae080 != null">
        #{aae080,jdbcType=VARCHAR},
      </if>
      <if test="aae253 != null">
        #{aae253,jdbcType=VARCHAR},
      </if>
      <if test="aae145 != null">
        #{aae145,jdbcType=VARCHAR},
      </if>
      <if test="aae016 != null">
        #{aae016,jdbcType=VARCHAR},
      </if>
      <if test="aae010 != null">
        #{aae010,jdbcType=VARCHAR},
      </if>
      <if test="aae074 != null">
        #{aae074,jdbcType=BIGINT},
      </if>
      <if test="aab019 != null">
        #{aab019,jdbcType=VARCHAR},
      </if>
      <if test="aab020 != null">
        #{aab020,jdbcType=VARCHAR},
      </if>
      <if test="aab021 != null">
        #{aab021,jdbcType=VARCHAR},
      </if>
      <if test="aab022 != null">
        #{aab022,jdbcType=VARCHAR},
      </if>
      <if test="aic121 != null">
        #{aic121,jdbcType=DECIMAL},
      </if>
      <if test="aic122 != null">
        #{aic122,jdbcType=DECIMAL},
      </if>
      <if test="aic123 != null">
        #{aic123,jdbcType=DECIMAL},
      </if>
      <if test="aic124 != null">
        #{aic124,jdbcType=DECIMAL},
      </if>
      <if test="aic125 != null">
        #{aic125,jdbcType=DECIMAL},
      </if>
      <if test="aic126 != null">
        #{aic126,jdbcType=DECIMAL},
      </if>
      <if test="aic127 != null">
        #{aic127,jdbcType=DECIMAL},
      </if>
      <if test="aic128 != null">
        #{aic128,jdbcType=DECIMAL},
      </if>
      <if test="aic129 != null">
        #{aic129,jdbcType=DECIMAL},
      </if>
      <if test="aic130 != null">
        #{aic130,jdbcType=DECIMAL},
      </if>
      <if test="aic131 != null">
        #{aic131,jdbcType=DECIMAL},
      </if>
      <if test="aic132 != null">
        #{aic132,jdbcType=DECIMAL},
      </if>
      <if test="aic133 != null">
        #{aic133,jdbcType=DECIMAL},
      </if>
      <if test="aic134 != null">
        #{aic134,jdbcType=DECIMAL},
      </if>
      <if test="aic135 != null">
        #{aic135,jdbcType=DECIMAL},
      </if>
      <if test="aic136 != null">
        #{aic136,jdbcType=DECIMAL},
      </if>
      <if test="aic137 != null">
        #{aic137,jdbcType=DECIMAL},
      </if>
      <if test="aic138 != null">
        #{aic138,jdbcType=DECIMAL},
      </if>
      <if test="aic139 != null">
        #{aic139,jdbcType=DECIMAL},
      </if>
      <if test="aib141 != null">
        #{aib141,jdbcType=DECIMAL},
      </if>
      <if test="aib142 != null">
        #{aib142,jdbcType=DECIMAL},
      </if>
      <if test="aic411 != null">
        #{aic411,jdbcType=DECIMAL},
      </if>
      <if test="aic263 != null">
        #{aic263,jdbcType=DECIMAL},
      </if>
      <if test="aae117 != null">
        #{aae117,jdbcType=VARCHAR},
      </if>
      <if test="aae076 != null">
        #{aae076,jdbcType=BIGINT},
      </if>
      <if test="aac026 != null">
        #{aac026,jdbcType=VARCHAR},
      </if>
      <if test="aae007 != null">
        #{aae007,jdbcType=VARCHAR},
      </if>
      <if test="aae036 != null">
        #{aae036,jdbcType=TIMESTAMP},
      </if>
      <if test="aab003 != null">
        #{aab003,jdbcType=VARCHAR},
      </if>
      <if test="aab004 != null">
        #{aab004,jdbcType=VARCHAR},
      </if>
      <if test="aae006 != null">
        #{aae006,jdbcType=VARCHAR},
      </if>
      <if test="oae001 != null">
        #{oae001,jdbcType=BIGINT},
      </if>
      <if test="oae300 != null">
        #{oae300,jdbcType=BIGINT},
      </if>
      <if test="oae301 != null">
        #{oae301,jdbcType=BIGINT},
      </if>
      <if test="aic140 != null">
        #{aic140,jdbcType=DECIMAL},
      </if>
      <if test="aic144 != null">
        #{aic144,jdbcType=DECIMAL},
      </if>
      <if test="bic025 != null">
        #{bic025,jdbcType=VARCHAR},
      </if>
      <if test="aae264 != null">
        #{aae264,jdbcType=VARCHAR},
      </if>
      <if test="aic141 != null">
        #{aic141,jdbcType=VARCHAR},
      </if>
      <if test="aic160 != null">
        #{aic160,jdbcType=DECIMAL},
      </if>
      <if test="aic161 != null">
        #{aic161,jdbcType=VARCHAR},
      </if>
      <if test="aae088 != null">
        #{aae088,jdbcType=VARCHAR},
      </if>
      <if test="aic147 != null">
        #{aic147,jdbcType=DECIMAL},
      </if>
      <if test="aic148 != null">
        #{aic148,jdbcType=DECIMAL},
      </if>
      <if test="aic149 != null">
        #{aic149,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>